*
{
    margin: 0px !important;
}
body
{
    font-family:  "Montserrat",sans-serif;
}
.header
{
    position: fixed;
    display: flex;
    padding: 15px;
    width: 100%;
    flex-direction: row;
    font-family:  "Montserrat",sans-serif;
    background-color: rgb(41, 41, 41);
    color: white;
    align-items: center;
    justify-content: flex-start;   
    z-index: 2;
}
.h1
{
    position: relative;
    left:10;
}
.h2
{
    right:650;
}
.h3
{
    right:500;
}
.h4
{
    right:350;
}
.h5
{
    right:200;
}
.h6
{
    right:50;
}
.h2:hover
{
    color: rgb(16, 102, 215);
    background-color: white;
    transform: scale(1.15);
}
.h3:hover
{
    color: rgb(16, 102, 215);
    background: white;
    transform: scale(1.15);
}
.h4:hover
{
    color: rgb(16, 102, 215);
    background: white;
    transform: scale(1.15);
}
.h5:hover
{
    color: rgb(16, 102, 215);
    background: white;
    transform: scale(1.15);
}
.h6:hover
{
    color: rgb(16, 102, 215);
    background: white;
    transform: scale(1.15);
}
.h2,.h3,.h4,.h5,.h6
{
    position: absolute;
    background-color: rgb(16, 102, 215);
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 15px;
    transition: 0.4s;
}
.tag
{
    color: rgb(41,41,41);
    text-align: center;
    font-weight: bold;
    padding: 20px;
    height:74px;
    position: absolute;
    font-size: 70px;
    width: 500px;
    top:15%;
    left: 34%;
    font-family:  "Montserrat",sans-serif;
    border-bottom: 10px solid black;
    border-radius: 20px;
    overflow: hidden;
    overflow-y: scroll;
    transition: 0.2s;
    z-index: 1;
}
.tag::-webkit-scrollbar
{
    display: none;
}
.tag:hover
{
    color:black;
    transform:scale(1.2);
}
.main
{
    display: flex;
    position: absolute;
    top:40%;
    background-color: rgb(0, 49, 83);
    border-radius: 60px;
    align-items: center;
    font-size: 15px;
    left: 19%;
    width: 900px;
    padding: 50px;  
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: solid black 1px;
    height:1100px;
    color: white;
    border: solid 5px rgb(75,180,243);;
}
.m2,.m3,.m4,.m5,.m6
{
    background-color: rgb(75,180,243);
    border: white solid 5px;
    border-radius: 30px;
    padding: 5px;
    align-items: center;
    text-align: center;
    margin: 50px;
    position: relative;
    width:850px;
    transition: 0.4s;
    
}
.m32
{
    text-align: justify;
}
.m1
{
    position: relative;
    bottom:70;
}
.m2
{
    position: relative;
    bottom:40;
}
.m3
{
    padding: 40px;
    bottom:20;
    width: 770;
}
.m4
{
    bottom:0;
}
.m5
{
    top:20;
}
.m6
{
    width:300px;
    top :60;

}
.m21,.m31,.m41,.m51
{
    font-size: 25px;
    font-weight: 700;
    color: rgb(0, 49, 83);
    padding: 5px;
}
input[type="button"]
{
    border: none;
    background-color:  rgb(75,180,243);
    color: rgb(0, 49, 83);
    font-weight: bolder;
    font-size: 20px;
    padding: 20px;
}
.footer
{
    height: 100px;
    position: absolute;
    width: 100%;
    top:210%;
    background-color: rgb(41,41,41);
}
.m2:hover
{
    transform: scale(1.1);
}
.m3:hover
{
    transform: scale(1.1);
}
.m4:hover
{
    transform: scale(1.1);
}
.m5:hover
{
    transform: scale(1.1);
}
.m6:hover
{
    transform: scale(1.1);
}

